*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins',sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: lightblue;
    color: white;
    overflow: auto;
}

header{
    /* margin-top: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1 rem 9%;
    background-color: rgb(158, 93, 220);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 4rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    margin-left: 7rem;
}
.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4 rem;
    padding: 50px;
    transition: 0.5s ease-in-out;
}

.home-img{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 20%;
    margin-left: 15%;
    position: relative;
    margin-right: 30px;
}

.home-img img{
    width: 50%;
    margin-right: 40px;
}

.home-content{
    text-align: right;
    font-size: 30px;
    padding-right: 30px;
    margin-top: -35%;
    position: static;
}

.home-content h1{
    font-size: 70px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    display: inline-block;
    animation: wave 1s infinite;
}

.home-content:hover{
    color: blue;
}

.home-content p{
    font-size: 15px;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.active a:hover{
    color: black;
    transform: scale(1.1);
}

main .page-2{
    margin-top: 40rem;
    margin-left: 5rem;
    text-align: center;
    font-size: 27px;
    box-shadow: 20px;
}

main .img-2{
    padding-top: 10rem;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 3rem;
    padding-top: 7rem;
    transition: 0.2s ease-in-out;
}

main .img-2:hover{
    transform: scale(1.1);
}

.text-serti{
    font-size: 30px;
    padding-top: 7rem;
}

.img-flex{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem 12rem;
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 4rem;
}

.sosmed{
    display: flex;
    justify-content: space-evenly;
}

.whatsapp{
    display: flex;
    align-items: center;
    padding-top: 35rem;
}

.whatsapp p{
    margin: 0;
    font-size: 27px;
}

.img-sosmed{
    height: 50px;
    width: 50px;
    margin-right: 15px;
    transition: 0.2s ease-in-out;
}

a{
    text-decoration: none;
    color: white;
}

.img-sosmed:hover{
    transform: scale(1.1);
}

.skill{
    text-align: center;
}

.img-skill{
    padding-top: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 27px;
    text-align: center;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
}

.css-img-skill:hover{
    transform: scale(1.1);
}

.img-skill:hover{
    transform: scale(1.1);
}

.imgskill-flex{
    display: flex;
    justify-content: space-evenly;
}

.skill-text{
    text-align: center;
    font-size: 30px;
    padding-top: 20rem;
}

.btn-project{
    margin-top: 10rem;
    padding: 1.5rem 3rem 1.5rem;
    margin-right: 3rem;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgb(158, 93, 220);
    color: white;
    transition: 0.5s ease-out;
}

.btn-sejarah{
    margin-top: 10rem;
    padding: 1.5rem 3rem 1.5rem;
    margin-left: 7rem;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgb(158, 93, 220);
    color: white;
    transition: 0.5s ease-out;
}

.btn-project:hover{
    background-color: aqua;
    color: black;
}

.btn-sejarah:hover{
    background-color: aqua;
    color: black;
}

footer .text-footer{
    text-align: center;
    margin-top: 20rem;
    font-size: 30px;
    background-color: rgb(158, 93, 220);
    padding: 1rem 1rem 1rem;
}

@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in; /* Transisi opacity */
}

.fade-in.visible {
    opacity: 1; /* Menjadi terlihat */
}